<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap"/>
        <link rel="stylesheet" type="text/css" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\safety-measures\safety-measures.component.css" />
    </head>

<body>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-md">
                    <div class="navbar-brand">Women Safety</div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\home\home.component.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\safety-measures\safety-measures.component.html">Safety Measures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\escaping-tricks\escaping-tricks.component.html">Escaping Tricks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\self-defence\self-defence.component.html">Self Defence</a>
                        </li>
                        <li class="nav-item" style="font-size: 12px; margin-left: 60px; font-weight: 100;">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\home\home.component.html">Log Out</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <h1 style="margin-left: 15px; margin-top: 6px; color: rgb(12, 44, 44);">Escaping Tricks</h1>
        <div style="margin-left: 13px; margin-top: 6px; font-size: 19px; font-weight: 700; color: rgb(21, 71, 71);">
        <p style="color: black;"> 1. What should a woman do if she finds herself alone in the company of a strange male as she prepares to enter a lift in a High Rise apartment late at night.?</p>
        <p> Experts Say : Enter the lift. If you need to reach the 13th floor, press all the buttons up to your destination. No one will dare attack you in a lift that stops on every floor.</p>
        <p style="color: black;"> 2. What to do if a stranger tries to attack you when you are alone in your house, run into the kitchen.</p>
        <p> You alone know where the chilli powder and turmeric are kept. And where the knives and plates are. All these can be turned into deadly weapons. If nothing else, start throwing plates and utensils all over. Let them break. Scream. Remember that noise is the greatest enemy of a molester. He does not want to be caught.</p>
        <p style="color: black;"> 3. Taking an Auto or Taxi at Night.</p>
        <p> Experts Say : Before getting into an auto at night, note down its registration number. Then use the mobile to call your family or friend and pass on the details to them in the language the driver understands. Even if no one answers your call, pretend you are in a conversation. The driver now knows someone has his details and he will be in serious trouble if anything goes wrong. He is now bound to take you home safe and sound. A potential attacker is now your de facto protector.</p>
        <p style="color: black;"> 4. What if the driver turns into a street he is not supposed too and you feel you are entering a danger zone ...</p>
        <p> Experts Say : Use the handle of your purse or your stole (dupatta) to wrap around his neck and pull him back. Within seconds, he will feel choked and helpless. In case you don't have a purse or stole just pull him back by his collar. The top button of his shirt would then do the same trick.</p>
        <p style="color: black;"> 5. If you are stalked at night .</p>
        <p> Expert Say : Enter a shop or a house and explain your predicament. If it is night and shops are not open, go inside an ATM box. ATM centres always have close circuit television. Fearing identification, no one will dare attack you. After all, being mentally alert is the greatest weapon you can ever have.</p>
    </div>
</div>        
</div>

</body>
</html>