<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap"/>
        <link rel="stylesheet" type="text/css" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\safety-measures\safety-measures.component.css" />
    </head>

<body>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-md">
                    <div class="navbar-brand">Women Safety</div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\home\home.component.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\safety-measures\safety-measures.component.html">Safety Measures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\escaping-tricks\escaping-tricks.component.html">Escaping Tricks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\self-defence\self-defence.component.html">Self Defence</a>
                        </li>
                        <li class="nav-item" style="font-size: 12px; margin-left: 60px; font-weight: 100;">
                            <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\home\home.component.html">Log Out</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <h1 style="margin-left: 15px; margin-top: 6px; color: rgb(12, 44, 44);">20 important Tips Regarding Women Safety</h1>
        <div style="margin-left: 13px; margin-top: 6px; font-size: 19px; font-weight: 700; color: rgb(21, 71, 71);">
        <p> 1. You must have all the emergency numbers with you and WhatsApp also if possible so that you can immediately inform your family members and police.</p>
        <p> 2. Hold your bag as tightly as you can when you are taking public transport. You can use it to hit your predator.</p>
        <p> 3. When you are walking on a road, keep your mobile phone handy but avoid using it. Being on the phone makes you less alert.</p>
        <p> 4. When you are travelling in an auto alone, make sure you share the auto number with someone in your family even if it's during the day.</p>
        <p> 5. Similarly, if you have booked a cab, always share your coordinates with someone.</p>
        <p> 6. When in office, avoid going to isolated areas with no CCTV cameras. </p>
        <p> 7. If you have parked your car, always look underneath, especially at night or at a less-crowded area.</p>
        <p> 8. Whenever you are posting anything on social media, make sure you don't do it in real-time. Because if you do, you're telling people on your social media about your whereabouts. Delay those posts by say, 20-30 minutes.</p>
        <p> 9. Always ensure you aren't posting anything on your social media with your address or phone number on it.</p>
        <p> 10. Whenever you are giving out order for delivery at a grocery store, make sure you whisper your address or write it down somewhere and give it to the shopkeeper. Never announce it.</p>
        </div>
        </div>        
    </div>

</body>
</html>