<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>

        <div class="col-lg-6 col-md-6 form-container">
            <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                <div class="logo mb-3">
                    <img src="src/logo.jpg" width="150px">
                </div>
                <div class="heading mb-4">
                    <h4 style="color: rgb(221, 222, 253);">Create an account</h4>
                </div>
                <form (ngSubmit)="submit()">
                    <div class="form-input">
                        <span><i class="fa fa-user"></i></span>
                        <input type="text" placeholder="Full Name" name="name" required>
                    </div>
                    <div class="form-input">
                        <span><i class="fa fa-envelope"></i></span>
                        <input type="email" placeholder="Email Address" required>
                    </div>
                    <div class="form-input">
                        <span><i class="fa fa-lock"></i></span>
                        <input type="password" placeholder="Password" required>
                    </div>
                    
                    <div class="text-left mb-3">
                        <button type="submit" class="btn">Register</button>
                    </div>
                    <div class="text-center mb-2">
                        <div class="mb-3" style="color: rgb(221, 222, 253); font-weight: bold;">or register with</div>

                        <a href="" class="btn btn-social btn-facebook">facebook</a>

                        <a href="" class="btn btn-social btn-google">google</a>

                        <a href="" class="btn btn-social btn-twitter">twitter</a>
                    </div>
                    <div style="color: rgb(221, 222, 253);">Already have an account? 
                        <a href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\login\login.component.html" class="login-link" style="font-weight: bold;">Login here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>