<html>
    <head>
        <title>Home</title>
            <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
            <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\home\home.component.css" />
    </head>

<body>
<div class="container-fluid banner">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-md">
                <div class="navbar-brand">Women Safety</div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\home\home.component.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\safety-measures\safety-measures.component.html">Safety Measures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\escaping-tricks\escaping-tricks.component.html">Escaping Tricks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\self-defence\self-defence.component.html">Self Defence</a>
                    </li>
                    <li class="nav-item" style="font-size: 12px; margin-left: 60px; font-weight: 100;">
                        <a class="nav-link" href="C:\Users\Mokshika Joshi\IdeaProjects\angularProject1\newApp\src\app\home\home.component.html">Log Out</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-8 offset-md-2 info">
            <h1 class="text-center"></h1>
            <p class="text-center">
                
            </p>
            <a href="#" class="btn btn-md text-center">EMERGENCY SOS</a>
        </div>
    </div>
</div>
</body>
</html>